.dauto ul.padiAutoComplete{float:left;list-style:none;margin-top:-3px;padding:0;width:190px;position: absolute;left:70%;top:18%}
.dauto ul.padiAutoComplete li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
.dauto ul.padiAutoComplete li:hover{background:#ece3d2;cursor: pointer;}
